<div class="containter-fluid">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Customer List</a>
    </nav>
    <br/>
    <form [formGroup]="filterForm">
        <div class="row">
            <div class="col-md-2 text-right">Filter data</div>
            <div class="col-md-2">
                <kendo-dropdownlist
                    formControlName="customers"
                    [data]="customers"
                    [defaultItem]="{ name: 'Select Customer', id: null }"
                    [textField]="'name'"
                    [valueField]="'id'"
                    (valueChange)="handleCustomerChange($event)"
                    required>
                </kendo-dropdownlist>
            </div>
            <div class="col-md-2">
                <kendo-dropdownlist
                    formControlName="sites"
                    [data]="sites"
                    [defaultItem]="{ name: 'Select Site', id: null }"
                    [textField]="'name'"
                    [valueField]="'id'"
                    (valueChange)="handleSiteChange($event)"
                    required>
                </kendo-dropdownlist>
            </div>
            <div class="col-md-2">
                <kendo-dropdownlist
                    formControlName="assets"
                    [data]="assets"
                    [defaultItem]="{ name: 'Select Asset', id: null }"
                    [textField]="'name'"
                    [valueField]="'id'"
                    (valueChange)="handleAssetChange($event)"
                    required>
                </kendo-dropdownlist>  
            </div>
            <div class="col-md-2">
                <button type="button" value="Reset" (click)="resetValue()">Reset</button>
            </div>        
        </div>
    </form>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <kendo-grid #gridCustomer [selectable]="true" [data]="gridData"  [height]="410" (selectionChange)="handleSelectGrid(gridCustomer,$event)">
            <kendo-grid-column field="id" title="ID" width="40"></kendo-grid-column>
            <kendo-grid-column field="name" title="Name" width="250"></kendo-grid-column>
        </kendo-grid>
    </div>
</div>